// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');


body {
	font-family: $base-font;
	font-weight: 400;

	@include font-size($base-fs, $base-fs * 1.5, 0.5px);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5 {
	font-family: $additional-font;
}
h1,
.h1 {
	@include font-size(65px);

	@media (max-width: #{$sm}) {
		@include font-size(30px);
	}
}

h2,
.h2 {
	@include font-size(36px, 36px, 0.36px);

	@media (max-width: #{$sm}) {
		@include font-size(26px, 24px, 0.36px);
	}
	
}

h3,
.h3 {
	@include font-size(22px, 27px, 0.3px);

	@media (max-width: #{$sm}) {
		@include font-size(18px, 22px, 0.3px);
	}
}

h4,
.h4 {
	@include font-size(20px, 26px);

	@media (max-width: #{$sm}) {
		@include font-size(15px, 20px);
	}
}

h5,
.h5 {
	@include font-size(18px);

	@media (max-width: #{$sm}) {
		@include font-size(15px);
	}
}

small,
.small {
	@include font-size(15px, 20px, 0.28px);
}

// alignments
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Modifiers
.text-bold {
	font-weight: 700;
}

.text-semibold {
	font-weight: 600;
}

.text-uppercase {
	text-transform: uppercase;
}

.no-line-height {
	line-height: 1em !important;
}